
.slide-leave-active,
.slide-enter-active {
    transition: 3s;
}

.slide-enter {
    transform: translate(100%, 0);
}

.slide-leave-to {
    transform: translate(-100%, 0);
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.list-enter-active, .list-leave-active {
    transition: all 1s;
}

.list-enter /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
}

.previous-enter-active, .previous-leave-active {
    transition: all 1s;
}

.previous-enter /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateX(230px);
}




