
.slide-leave-active,
.slide-enter-active {
    position: absolute;
    transition: 1s;
}

.slide-enter {
    position: absolute;
    transform: translate(100%, 0);
}

.slide-leave-to {
    display: none;
}


/*, .list-leave-active */

    .slideup-enter-active {
    transition: all 1s;
}

.slideup-enter /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
}

.fade-enter-active {
    transition: opacity 1.0s;
 
}
.fade-leave-active {
    position: absolute;
    display: none;
}

.fade-enter /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
.fade-leave-to {
    position: absolute;
    display: none;
}


