/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
section {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.element {
    position: relative;
}

.body-content {
    text-align: center;
    align-items: center;
}

.body-content-app {
    max-width: 720px;
    text-align: center;
    margin: 0 auto 0 auto;
}

#app {
    
}

.content {
    text-align: left;
}

.top-buttons {
    text-align: center;
    vertical-align: middle;

}


.coach-dropdown {
    display: inline-block;
    vertical-align: middle;
    max-height: 61px;
}

.enclose-head {
    padding: 0.35em 0.6em;
    border: 0.1em solid #000;
    margin: 0.3em 0.3em 0.3em 0.3em;
    border-radius: 2px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #000;
    transition: all 0.2s;
    background-color: #f7f4f2;
    width: 140px;
}

.dropdown-head {
    font-weight: 300;
    color: #000;
    width: 90%;
    float: left;
}

.dropdown-item {
    font-weight: 300;
    color: #000;
}

.switch-to {
    font-size: 12px !important;
    margin-left: 10px !important;
}

.abs-pos {
    position: absolute;
    z-index: 1;
    padding: 0.35em 0.6em;
    border: 0.1em solid #000;
    margin: 0.3em 0.3em 0.3em 0.3em;
    border-radius: 2px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #000;
    transition: all 0.2s;
    background-color: #f7f4f2;
    text-align: center;
    width: 140px;
}

.menu {
    text-align: left;
    font-weight: 300;
    color: #000;
}



.list {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    font-weight: bold;
}

.view-previous {
    display: inline-block;
    vertical-align: middle;
    padding: 0.35em 0.6em;
    border: 0.1em solid #000;
    margin: 0.3em 0.3em 0.3em 0.3em;
    border-radius: 2px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #000;
    transition: all 0.2s;
    background-color: #f7f4f2;
    width: 140px;
    height: 53px;
    text-decoration: none;
}

.date-text-sm {
    font-size: 12px;
}

.previous-button {
    text-decoration: none;
    font-weight: 300;
    color: #000;
    transition: all 0.2s;
    background-color: #f7f4f2;
}

.previous-text {
    width: 90%;
    float: left;
}

.fa {
    font-size: 20px;
}

#fa-menu {
    width: 10%;
    float: right;
    margin-top: 10px;
    font-size: 20px !important;
}

.fa-pencil {
    color: #337ab7;
    font-size: 24px !important;
}




.content {
    margin-bottom: 10px;
}

.gc-item {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000 !important;
    background-color: #ddffff;
    border-left: 6px solid #ccc;
    border-color: #2196F3;
    border-radius: 2px;
    z-index: 0;
}

.coach {
    border-color: red;
    margin-left: 0px;
    background-color: #f7f4f2;
}

.gc-author {
    font-family: Verdana,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 10px;
}

.gc-response {
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000 !important;
    display: flex;

}

.gc-content {
    font-family: Verdana,sans-serif;
    font-size: 12px;
    line-height: 1.2;
    margin-left: 5px;
}

.gc-entry {
    float: left;
    width: 80%;
    display: block;
}

#submit {
    float: right;
    width: 15%;
    margin: 0 0.3em 0 0.3em;
}

button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000;
    margin: 0.3em 0.3em 0.3em 0.3em;
    border-radius: 2px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #000;
    text-align: center;
    transition: all 0.2s;
    background-color: #f7f4f2;
}

    button:hover {
        font-weight: 600;
    }

@media all and (max-width:30em) {
     button {
        display: block;
        margin: 0.4em auto;
    }
}


//Input fieldset
Input {
    position: relative;
    
}

Input {
    margin: 10px;
    padding: 10px 10px 10px 10px;
    margin: 0 .25rem;
    border: 1px solid #eee;
    border-radius: 2px;
    transition: border-color .5s ease-out;
    font-family: Verdana,sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

    Input::placeholder {
        color: #B0BEC5;
    }

    Input:focus {
        outline: none;
        box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
    }
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    section {
        padding: 2px;
    }

    button {
        padding: 0.2em 0.6em;
    }

    .fa-pencil {
        font-size: 18px !important;
    }

    Input {
        padding: 5px;
    }

    #submit {
        margin: 0;
    }
}

